@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mono: 'Space Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

html {
  background: #ded8cd;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}
